<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    html, body, iframe {
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch%2CPromise"></script>
  <script>
    var url = location.href.split('#')[0];
    var configPromise = fetch('/config?url=' + encodeURIComponent(url)).then(function(res) { 
      return res.json(); 
    }).then(function(config) {
      return wx.config(config);
    });

    var listenPromise = new Promise(function(resolve, reject) {
      var timeout = setTimeout(reject, 5000);
      window.addEventListener('message', function(event) {
        if(!/^https?:\/\/{{host}}$/i.test(event.origin)) {
          return;
        }
        if(event.data.type !== 'wxhermit') {
          return;
        }
        resolve(event.data);
        clearTimeout(timeout);
      });
    });

    Promise.all([configPromise, listenPromise]).then(function(resp) {
      var title = resp[1].title;
      var desc = resp[1].desc;
      var imgUrl = resp[1].imgUrl;
      if(!title) {
        return;
      }
      
      document.title = title;
      wx.updateAppMessageShareData({ 
        title: title,
        desc: desc,
        imgUrl: imgUrl,
        link: url
      });

      wx.updateTimelineShareData({ 
        title: title,
        imgUrl: imgUrl,
        link: url
      });
    });
  </script>
</head>
<body>
  <iframe src="{{originalUrl}}" frameborder="0"></iframe>
</body>
</html>